fastapi[all]
pymongo
firebase-admin
python-dotenv
redis
aioredis
pyinstaller


psutil
requests
pyautogui
pyperclip
Pillow
pynput
swinlnk
aiofiles
websockets
httpx
pydantic
scapy
mss
aiofiles
python-dotenv

langchain
langchain_openai
requests